<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message and Files Sender</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

</head>
<body class="bg-blue-600 p-4 md:p-20 w-full h-screen">
    <div class="w-full h-[860px] bg-white rounded-lg flex-col md:flex md:space-x-3 space-y-7 p-4">
        
        <div class="w-full h-64 border-2 rounded-lg flex-col space-y-4 p-2">
            <div class="flex space-x-3">
                <input type="number" class="rounded-lg w-full font-semibold" placeholder="Phone number (+91)">
                <button class="text-3xl font-bold font-mono bg-blue-600 px-4 py-1 rounded-lg text-white">+</button>
            </div>

            <div class="w-full h-44 border-2 rounded-lg overflow-y-auto p-1"></div>

        </div>
        
        <div class="flex items-center justify-center w-full ">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-blue-500  hover:bg-gray-100">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg class="w-16 h-16 mb-14 mt-10 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                    </svg>
                    <p class="mb-2 text-sm font-semibold font-mono text-white"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <!-- <p class="text-sm font-mono font-semibold text-white">SVG, PNG, JPG or GIF (MAX. 800x400px)</p> -->
                </div>
                <input id="dropzone-file" type="file" class="hidden" />
            </label>
        </div> 

        <div class="w-full h-64 border-2 rounded-lg flex-col"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>